body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.4;
}
header {
    background-color: brown;
    color: black;
    padding: 1rem 0;
    text-align: center;
}
header nav a {
    color: black;
    margin:  0 15px;
    text-decoration: none;
}
main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
#post {
    flex: 3;
    margin-right: 20px;
}
.post {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
}
.post h2 {
    color: black;
}
.post .meta {
    font-size: 0.9rem;
    color: black;
}
.read-more {
    color: rebeccapurple;
    text-decoration: none;
}

footer {
   
    color: black;
    text-align: center;
    padding: 1 rem 0;
    font-size: 0.7rem;

}